@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-header no-gutters">
    <div class="row d-flex">
        <div class="header-sub-title col-md-8 pt-3">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-controller="Dashboard" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
                <span class="breadcrumb-item active">@ViewData["Title"]</span>
            </nav>
        </div>
        <div class="col-md-4">
            <form asp-action="Index" method="get">
                <div class="form-group mt-2">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" name="search" placeholder="Tìm kiếm" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="anticon anticon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

